table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    width: 50%;
}

.mat-header-cell {
    color: #23527c;
}