<div *ngIf="spinnerlogin; else elseBlock">
<mat-spinner></mat-spinner>
</div>
<ng-template #elseBlock>
 <div class="align-center">
 <mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>Login</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form">
       <table class="example-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="Username" [(ngModel)]="username" maxlength=10 name="username">
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
         </mat-form-field></td>
       </tr></table>
     </form>
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button (click)="login()" color="primary" matTooltip="Login into Application">Login</button>
   </mat-card-actions>
 </mat-card>
 </div>
 </ng-template>
 