<div *ngIf="spinnerlabresult; else elseBlockss">
<mat-spinner></mat-spinner>
</div>
<ng-template #elseBlockss>
<h3>Investigation Result Entry</h3> 
<mat-grid-list cols="6" rowHeight="7:1">
  <mat-grid-tile>PatientName :</mat-grid-tile>
  <mat-grid-tile>{{patientName}}</mat-grid-tile>
    <mat-grid-tile>LabNo :</mat-grid-tile>
  <mat-grid-tile #navcolor >{{visitId}}</mat-grid-tile>
  <mat-grid-tile>Age/Sex :</mat-grid-tile>
  <mat-grid-tile>{{Age}}</mat-grid-tile>
  <mat-grid-tile>CollectionTime :</mat-grid-tile>
  <mat-grid-tile>{{CollectionTime|date:'dd/MM/yyyy hh:mm:ss a'}}</mat-grid-tile>
  <mat-grid-tile>RefferedBy :</mat-grid-tile>
  <mat-grid-tile>{{clientName}}</mat-grid-tile>
  <mat-grid-tile>BilledDate :</mat-grid-tile>
  <mat-grid-tile>{{BilledDate|date:'dd/MM/yyyy hh:mm:ss a'}}</mat-grid-tile>
</mat-grid-list>
<mat-card>{{DepartmentName}}</mat-card>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="tabId">
  <ng-container matColumnDef="investName">
    <th mat-header-cell *matHeaderCellDef> Investigations </th>
    <td mat-cell *matCellDef="let element">{{element.investName}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="inputType">
    <th mat-header-cell *matHeaderCellDef> EnterValues </th>
    <td mat-cell *matCellDef="let element"> 
    <mat-form-field appearance="outline">
   <mat-label>EnterResult</mat-label>
    <input matInput type="{{element.inputType}}" placeholder="EnterResult" id="values"
    (keyup)="eventEmitChange(element.investId)" (keydown)="remove()" [matAutocomplete]="auto" [(ngModel)]="element.labValues3">
   <mat-hint>{{element.inputType}}</mat-hint>
   <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of datass" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
     </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Units </th>
    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="rRrange">
    <th mat-header-cell *matHeaderCellDef> Reference Range </th>
    <td mat-cell *matCellDef="let element">
     <mat-form-field appearance="outline">
    <input matInput style="{{style}}"  value="{{element.rRrange}}">
    <mat-hint>ReferenceRange</mat-hint>
  </mat-form-field>
      </td>
  </ng-container>
  <ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> Status </th>
   <td mat-cell *matCellDef="let element">
<mat-form-field>
  <select matNativeControl required>
    <option value="10">Pending</option>
    <option value="20">Completed</option>
    <option value="30">Rejected</option>
  </select>
</mat-form-field>
</td>
</ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-button>save and in progress</button>
<button mat-button (click)="saveResult(row)" color="primary">save</button>
</ng-template>

