<div *ngIf="spinnersample; else elseBlock">
<mat-spinner></mat-spinner>
</div>
<ng-template #elseBlock>
<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>
<mat-sidenav-container class="example-container" >
<mat-sidenav #nav opened mode="side"><mat-nav-list role="list" *ngFor="let i of items">
  <a mat-list-item routerLink="{{i.router}}">{{i.item}}</a>
</mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>

<button mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button>

<span>{{now | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</span>
<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
</ng-template>
